.formats__title {
    margin: 0 auto 9px;
    width: 420px;
}

.formats__title-image {
    width: 100%;
}

.formats__content-info, .formats__content-advice {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    max-width: 636px;
    text-align: center;
}

.formats__content-info {
    margin: 0 auto 20px;
    font-weight: normal;
    color: #333333;
}

.formats__content-advice {
    margin: 0 auto 71px;
    font-weight: 500;
    color: #57A080;
}

.formats__content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

.formats__content-left {
    padding-top: 75px;
}

.formats__content-right, .formats__content-left {
    width: 210px;
}

.formats__content-left-paragraph {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #808080;
    margin: 0;
}

.formats__content-left-paragraph.first, .formats__content-left-paragraph.fourth {
    margin-bottom: 21px;
}

.formats__content-left-paragraph.second {
    margin-bottom: 24px;
}

.formats__content-left-paragraph.third {
    margin-bottom: 29px;
}

.formats__content-box {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 20px;
    width: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formats__content-box.green {
    background: #FEFFED;
}

.formats__content-box-header {
    background: #DFDFDF;
    border-radius: 20px 20px 30px 0px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formats__content-box.green .formats__content-box-header {
    background: #57A080;
}

.formats__content-box-header-image1 {
    width: 136px;
}

.formats__content-box-header-image2 {
    width: 82px;
}

.formats__content-box-header-image3 {
    width: 158px;
}

.formats__content-box-point {
    width: 27px;
    margin: 20px 0 14px;
}

.formats__content-box-separator {
    width: 120px;
    height: 1px;
    background: linear-gradient(89.76deg, rgba(196, 196, 196, 0) 0%, #C4C4C4 53.04%, rgba(196, 196, 196, 0) 100.83%);
}

.formats__content-box-time {
    text-align: center;
    margin: 0;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    color: #666666;
    margin-top: auto;
}

.formats__content-box.green .formats__content-box-time {
    font-weight: 600;
    color: #57A080;
}

.formats__content-box-point.planet_1_2 {
    transform: rotate(33.6deg);
}

.formats__content-box-point.planet_2_1 {
    transform: rotate(31.38deg);
}

.formats__content-box-point.planet_2_2 {
    transform: rotate(138.77deg);
}

.formats__content-box-point.planet_2_3 {
    transform: rotate(169.83deg);
}

.formats__content-box-point.planet_3_2 {
    transform: rotate(41.95deg);
}

.formats__content-box-point.planet_3_3 {
    transform: rotate(-23.96deg);
}

.formats__content-box-point.planet_3_4 {
    transform: rotate(18.29deg);
}