.header {
    display: flex;
    width: 1324px;
    justify-content: space-between;
    margin: 0 0 0 34px;
}

.header-image {
    width: 185px;
    margin: 47px 0 0;
}

.header-menu {
    display: flex;
    margin: 38px 0 0 0;
    padding: 0;
    width: 918px;
    justify-content: space-between;
    align-items: center;
}

.second-header-menu-item {
    list-style: none;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.second-header-menu-item.active {
    background: #FF5354;
    border-radius: 50px;
    padding: 5px 38px;
    font-weight: bold;
    margin-left: 24px;
}

.second-header-menu-item.transparent {
    opacity: 0.5;
}

.second-header-menu-item a {
    text-decoration: none;
    color: #00A17F;
}

.second-header-menu-item.active a {
    color: #FFFFFF;
}

.second-header-menu-item.main a {
    color: #333333;
}

.header-menu-items-finished {
    display: flex;
    margin: 0;
    padding: 0 0 0 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background: rgba(255, 83, 84, 0.3);
}

.header-menu-items-finished a {
    color: #555555;
}

.second-start__content {
    margin: 93px auto 50px;
    max-width: 1160px;
}

.second-start__content-title {
    margin: 0 0 74px;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    color: #FF5354;
}

.start__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start__content-video {
    width: 593px;
    border: 1px solid black;
    border-radius: 20px;
}

.start__content-text {
    max-width: 481px;
}

.start__content-paragraph {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    margin: 0 0 25px;
}

.start__footer-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 96px;
}

.start__footer-block-text {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-align: right;
    color: #DC4F4B;
    margin: 0 11px 0 0;
}

.start__footer-block-image {
    width: 33px;
}